<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page scraper</title>
</head>
<body>
    <div>   
        Hi
    </div>
    <script src="~/Assets/MainScraper.js"></script>
</body>
</html>
